<h1>SpellBook</h1>

 <h4>Forgotten the basic Grende Flem spell. The SpellBook can help you look up the properties and refresh you on the Steps</h4>

 
 <!-- <p>crete diffrent paragraphs of spells with the index words linked</p> -->
<div class="row">
 <div class="card fun col-md-4">
    <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
    <div class="card-body">
      <h5 class="card-title">Grende Flem</h5>
      <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
    </div>
  </div>

  <div class="card fun col-md-4">
    <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
    <div class="card-body">
      <h5 class="card-title">Dlem Flugle</h5>
      <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
    </div>
  </div>


  <div class="card fun col-md-4">
    <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
    <div class="card-body">
      <h5 class="card-title">Grende Flem</h5>
      <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
    </div>
  </div>

</div>

<br>
    <br>
 <div class="row">
    <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
     <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
     <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
   </div>

   <br>
   <br>

<div class="row">
    <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
     <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
     <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
   </div>

   <br>
   <br>
   
<div class="row">
    <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
     <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
     <div class="card fun col-md-4">
       <!-- <img src="/tinpinkle/src/assets/imgaes/pexels-cottonbro-7179792.jpg" class="card-img-top" /> -->
       <div class="card-body">
         <h5 class="card-title">Grende Flem</h5>
         <p class="card-text">Twenty-five stars were neatly placed on the piece of paper. There was room for five more stars but they would be difficult ones to earn. It had taken years to earn the first twenty-five, and they were considered the "easy" ones.</p>
       </div>
     </div>
   
   </div>
   