/* You can add global styles to this file, and also import other style files */

// MDB SCSS
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@font-face {
    font-family: unicorn ;
    src: url("../../tinpinkle/src/assets/fonts/Unicorn\ Calligraphy\ -\ TTF.ttf");
}

.font{
    font-family: unicorn;
}