<div class="rectangle1">

</div>


<div class="rectangle2">

  <h1>TinPinkle</h1>
<h4>Your one stop shop for all your Magical Needs</h4>


<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
<div class="col-md-4">.col-md-4</div>
<!-- spellbook button to open the spellbook componenet -->
<div class="spell col-md-4">
<app-spellbook></app-spellbook>
</div>


  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
<!-- index component that shows all the items both animal and plant -->
<div class="mystic col-md-4">
<app-index></app-index>
</div>
</div>
</div>
