.rectangle1{
    position: absolute;
width: 748px;
height: 1024px;
left: 692px;
top: 0px;

background: #C4C4C4

}

.rectangle2{
    position: absolute;
width: 692px;
height: 1024px;
left: 0px;
top: 0px;

background: #FFFFFF;
}