<h1>TinPinkle</h1>
<h4>Your one stop shop for all your Magical Needs</h4>



<!-- spellbook button to open the spellbook componenet -->
<div class="spell">
  <button (click)="showSpell()" type="button" class="btn btn-danger">{{ spellBook ? "Check the SpellBook" : "SpellBook"}}</button>
</div>

<!-- index component that shows all the items both animal and plant -->
<div class="mystic">
  <button (click)="showIndex()" type="button" class="btn btn-secondary">{{ mystic ?  "Index" : "Close"}}</button>
</div>
