<div class="animal" >
    <a (click)="getAnimals()"  routerLink="/index" routerLinkActive="activebutton"><button type="button" class="btn btn-primary">Show Animals</button></a>
 </div>

 <section class="bod" *ngIf = "index" >
    <section *ngFor=" let j of index">
    
      <div class="row">
         <div class="col-md-8">
           <div class="pb-3">
            <h3>{{j.name}}</h3>
           </div>
           <div class="row">
             <div class="col-md-4">Color <br>  {{j.color}}</div> 
             <div class="col-md-4">Power <br> {{j.power}}</div>
             <!-- <div class="col-md-2">Animal Type : {{j.animal_type}}</div> -->
           </div>
         </div>
         <div class="col-md-4">Description <br><br> {{j.description}}</div>
       </div>
    
     </section>
    </section>

