<div class="header">

   <h1>All Things Mythical</h1>

   <!-- <p>provice links when cliked open a box </p> -->


</div>

<!-- <div class="mystic col-md-4">
  <a (click)="ShowIndex()"  routerLink="/home" routerLinkActive="activebutton"><button type="button" class="btn btn-secondary">Home</button></a>

</div>   -->

<app-animal></app-animal>
<app-plant></app-plant>




   <!-- <body>
    <div class="card-group pt-4 " >
        <div class="card h-100 m-2 border border-0 "  *ngFor="let it of item; let i = index"> 
          <a href="plant/{{item.id}}">
          <div class="card-body">
            <h5 class="card-title">{{it.name}}</h5>
            <p class="card-text">{{it.description}} <br> Flower: {{it.flower}} Root :{{i.root}}</p>
          </div>
         
          </a>
        </div>
    </div>
  </body> -->




