.header{
    text-align: center;
}





.bod{
    text-align: center;
    position: block;
width: 511px;
max-height: 651px;
left: 90px;
top: 235px;

background: rgba(255, 192, 203, 0.8);
opacity: 0.8;
//     position: absolute;
// width: 233px;
// height: 51px;
// left: 87px;
// top: 386px;

}

