<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-xl navbar-expand-xxl navbar-expand-md navbar-light color">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <a class="navbar-brand" href="">TinPinkle</a>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse">
        
        <!-- Links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="spellbook"><i class="fas fa-lg fa-feather">SpellBook</i></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index">Index</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
      
    </div>
    <!-- Container wrapper -->
  </div>
  </nav>
  <!-- Navbar -->
